.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: flex;
  gap: 40px;
  align-items: center;
  cursor: pointer;
}

.addBtn {
  background-color: transparent;
  border: 0;
}

button img {
  width: 80px;
  box-shadow: 0 0 15px 1px #000;
}

.ingredient div {
  display: flex;
  gap: 10px;
}